/* hi, this is my css file*/

/* text decorations*/
.under {
  text-decoration: underline;
  color: #6083b5;
  text-align: left;
}
.over {
  text-decoration: wavy overline 4px;
  color: #607cb5;
  text-align: center;
}

.underover {
  text-decoration: dashed underline overline;
  color: #6066b5;
  text-align: right;
}
/* box */
li {
  border-style: solid;
  border-color: #ff816b;
  border-width: 5px;
  border-radius: 10px; 
  background-color: #ffbdab;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  
}
box {
  margin: 10px;
  padding: 10px;
  border: 5px solid #766f96;
}

body {
  display: inline;
  background-color: #ffc7e1;
  color: #7d4f8c;
}

/* margin colors, relative units and absolute units*/
h1 {
  color: #957DAD;
  margin-left: 20px;
  font-size: 5vw;
}
h2 {
  display: inline-block;
  color: #957DAD;
  margin-left: 1cm;
  font-size: 2em;
}
h3 {
  color: #957DAD;
  margin-left: 10mm;
  font-size: 300%;
}


