/* hi, this is my css file*/


body {
  background-color: #FFDFD3;
}

/* margin colors*/
h1 {
  color: #957DAD;
  margin-left: 20px;
}
h2 {
  color: #957DAD;
  margin-left: 20px;
}
h3 {
  color: #957DAD;
  margin-left: 20px;
}
